<h1>all todos list</h1>

<ul>
{{#each allTodos as |todo|}}
  {{#unless todo.completed}}
  <li>
    <h4>{{todo.name}}</h4>
    <p>
      {{todo.description}} - {{todo.completed}}
    </p>

    <form action="/todos/{{ todo.id }}" method="post">
      <button>Done!</button>
    </form>
  </li>
  {{/unless}}
{{/each}}
</ul>
